body {
	width: 100%;
	line-height: 1.5em;
	font-size: 13px;
}
#wrapper {
	width: 95%;
	margin: 0 auto;
}
h1, h2, h3 {
	width: 100%;
	height: 2em;
	line-height: 2em;
	margin: 0;
	background: -o-linear-gradient(bottom, #0057af 5%, #007fff 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );
	background: -moz-linear-gradient( center top, #0057af 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");
	background: -o-linear-gradient(top, #0057af, 007fff);
	background-color: #0057af;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 1.75em;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
	text-transform:uppercase;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
#elementsDIVWrapper, #attributesDIVWrapper, #entitiesDIVWrapper {
	margin-bottom: 10px;
	width: 100%;
	float: left;
}
#tblEntity_filter, #elementsTable_filter, #attributesTable_filter {
	float: right;
}
#tblEntity_filter input, #elementsTable_filter input, #attributesTable_filter input {
	background-color: #CCC;
	color: #000;
}
#tblEntity_info, #attributesTable_info, #elementsTable_info {
	display: none;
}
#elementDiv, #docs {
	width: 49.5%;
	float: left;
}
#docs {
	margin-left: 1%;
}
#container {
	width: 33%;
	margin-left: 1%;
	float: left;
}
#cont {
	float: left;
	width: 65%;
}
th, td {
	padding: .25em;
}
