/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */

/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
 .block__title{

  background-color: #eee;
 }
@media print {

  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
  }

  /* Don't underline header. */
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  /* Add visible URL after links. */
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }

  /* Only display useful links. */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }

  /* Add visible title after abbreviations. */
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    /*background-color: transparent !important;*/
    background-image: none !important;
  }

 

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/*Header */
.headerbg {
    /*background: #7d110c url(../images/banner.png) repeat-x;*/
    background-color: #eee;
    border-bottom: 1px solid #423c31;
    font-size: 16px;
    width: 100%;
   margin: 0 auto;	
}


body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	color: #222;
	width: 100%;
	background-color:#ffffff;
}

/****************************************
 * Branding Bar
 ****************************************/

#identity {
    background: #dfd9bd;
    color: #000;
   	font-size: 16px; 
}
/* To align with footer */
#identity #signatureWide {
	margin: 0 auto;
    width: 1000px;
}
#identity #signature {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.625em; /* 10px (10/16) */
	line-height: 1em; /* 10px (10/10) */
    margin: 0 auto;
    position: relative;
    text-align:right;
    width: 960px;

}
#identity #signature a {
	color: #990000;
	text-decoration: none;	
}
#identity #signature a:hover {
	text-decoration: underline;	
}
#identity #signature a.iub {
    background: url(../img/branding-bar/iub_tan.gif) no-repeat;
    display: block;
    height: 44px;
    width: 170px;
}
#identity #signature a.iub img {
   }

/* Search Form */

#identity #sitesearch {
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
}
#identity #sitesearch fieldset {
	border: none;
    float: left;
	margin: 0;
	padding: 0;
}

/* Fieldset 1 */

#identity #sitesearch #sitesearch-fieldset1 {
    left: 0;
    position: relative;
    top: 19px;
}
#identity #sitesearch #sitesearch-fieldset1 ul {
    list-style: none;
	margin: 0;
	padding: 0;	
}
#identity #sitesearch #sitesearch-fieldset1 li {
    float: left;
    margin: 0 10px 0 0;
	padding: 0; 
}
#identity #sitesearch #sitesearch-findpeople {
    background: url(../img/branding-bar/people-bg.gif) no-repeat;
    display: inline-block;
    height: 23px;
    padding: 5px 0 0 28px;
    position: relative;
    top: -5px;
}
#identity #sitesearch #sitesearch-option1, 
#identity #sitesearch #sitesearch-option2 {
    float: left;
    left: 0;
    height: 13px;
    position: relative;
    top: -4px;
    width: 13px;
}

/* Fieldset 2 */

#identity #sitesearch #sitesearch-fieldset2 {
    background: url(../img/branding-bar/search.gif) no-repeat;
    height: 21px;
    left: 0;
    position: relative;
    top: 12px;
}
#identity #sitesearch #sitesearch-keywords {
    background: transparent;
    border: none;
    color: #000;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* 10px (10/10) */
    height: 17px;
    left: 2px;
    line-height: 1em; /* 10px (10/10) */
    margin: 0;
    padding: 0 4px;
    position: relative;
    top: 3px;
    width: 145px;
}
#identity #sitesearch #sitesearch-keywords.branding {
    background: #fff url(../img/branding-bar/google.gif) no-repeat 4px 50%;
}
#identity #sitesearch #sitesearch-submit {
    background: transparent;
    border: none;
    cursor: pointer;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* 10px (10/10) */
    height: 21px;
    left: 0;
    line-height: 1em; /* 10px (10/10) */
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    top: 0;
    width: 36px;
}
**************************************************
Header
added by hitendra css style for new header
**************************************************

#header-wrap-1 {
   /* background: #f2f2f2 url("../images/banner.png") repeat-x scroll 0 0;*/
    background-color: #d9d9d9;
    border-bottom: 1px solid #423c31;
    font-size: 30px;
}

#header-wrap-1 {
   /* background: #f2f2f2 url(../images/banner.png) repeat-x;*/
    background-color: #d9d9d9;
    border-bottom: 1px solid #423c31;
	font-size: 30px;
}
#header-wrap-2 {
    /*background: url(../images/banner.png) no-repeat 50% 100%;*/
    background-color: #eee;
	/*_background: none;  IE 6 */
}
/* To align with footer */
#headerWide {
  background-color: #eee;
	margin: 0 auto;
	width: 1000px;
}
#header {
	margin: 0 auto;
	min-height: 81px;
	padding: 38px 50px 15px 11px;
	vertical-align: middle;
	width: 899px;
	text-align:left;
}
#headerWide {
	margin: 0 auto;
	width: 1000px;
}
#header h1 {
	font-size: 16px;
	margin: 0 0 -3px 0;
	padding: 0;
}
#header h1 a {
	color: #fff;
    font-family: Times, "Times New Roman", serif;
    font-size: 2.438em; /* 39px (39/16) */
    font-weight: normal;
	letter-spacing: 0.07em;
    line-height: 1em; /* 39px (39/39) */
}
#header h1 a:hover {
    text-decoration: none;  
}
#header h1 a span {
    display: block;
    font-size: 0.333em; /* 13px (13/39) */
	font-variant: normal;
	letter-spacing: 0.07em;
    line-height: 1.154em; /* 15px (15/13) */
    margin: -13px 0 -1px 16px;
	*margin-bottom: -30px; /* IE 6/7 */
	zoom: 1; /* IE has layout */
}
#header a {
	color: #bf8a88;
	display: inline-block;
	*display: inline; /* IE 6/7 */
	font-family: Times, "Times New Roman", serif;
	font-size: 1.188em; /* 19px (19/16) */
	font-variant: small-caps;
	letter-spacing: 0.06em;
	line-height: 1.105em; /* 21px (21/19) */
	text-decoration: none;
	vertical-align: middle;
}
#header p {
	margin: 0;
	padding: 0;
}	
#header img {
	border: none;
	margin: 0 0 0 10px;	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#header h1 a {
		font-size: 2.688em; /* 43px (43/16) */
		line-height: 1em; /* 43px (43/43) */
	}
	#header h1 a span {
		font-size: 0.302em; /* 13px (13/43) */
		line-height: 1.154em; /* 15px (15/13) */
	}
	#header a {
		font-size: 1.313em; /* 21px (21/16) */
		line-height: 1.095em; /* 23px (23/21) */
	}
}
#login-section
{

}
